/* Google Font import */
@import url('https://fonts.googleapis.com/css2?family=Alex+Brush&family=El+Messiri:wght@500&display=swap');

/* styling for main structure  */
* {
    margin: 0;
    padding: 0;
    border: none;
}

*, *::before, *::after {
    box-sizing: border-box;
}

/* root variables for easier colour changes */
:root {
    --dark-blue: #092039;
    --pale-blue: #7BC5E4;
    --pale-pink: #F3E4E4;
    --dark-pink: #D08A8A;
    --dark-grey: #01212F;
}

/* double reset for font size for easier rem unit calculation and scroll-padding property to account for fixed navigation bar */
html {
    font-size: 62.5%;
    scroll-padding-top:5.5rem;
}

/* styling for main body element */
body {
    font-size: 1.6rem;
    font-family: "El Messiri", sans-serif;
    font-weight: 400;
    background: var(--pale-pink);
    color: var(--dark-grey);
}

/* styling for header with fixed navigation bar */
header {
    background: var(--dark-blue);
    text-align: center;
    position: fixed;
    z-index: 5;
    width: 100%;
}

header a {
    color: #fff;
    text-decoration: none;
}

#logo {
    letter-spacing: 0.1rem;
    margin-top: 0.1rem;
}

nav {
    background-color: rgba(5, 29, 54, 0.7);
    position: absolute;
    text-align: right;
    top: 100%;
    right: 0;
    width: 100%;
    display: none;
    transition: transform 500ms ease-in-out;
}

nav ul {
    list-style: none;
    margin-top: 0.8rem;
}

nav li {
    margin-bottom: 0.3em;
    margin-right: 2rem;
    letter-spacing: 0.1rem; 
    font-size: 110%;
}

/* styling for responsive navigation bar */
nav a:hover {
    color: var(--pale-blue);
}

.nav-menu {
    display: none;
}

.nav-menu:checked ~ nav {
    display: block;
}

.nav-menu-hamburger {
    position: absolute;
    cursor: pointer;
    top: 0;
    right: 0;
    margin-right: 2rem;
    margin-top: 0.2rem;
    height: 100%;
    display: flex;
    align-items: center;
    color: #fff;
    font-size: 120%;
}

#hamburger-close {
    display: none;
    font-size: 120%;
    margin-bottom: 0.2rem;
}

.nav-menu:checked ~ label #hamburger {
    display: none;
}

.nav-menu:checked ~ label #hamburger-close {
    display: flex;
}

/* styling for hero image and quote */
#hero-outer {
    position: relative;
    margin: 0 2rem 2rem 2rem;
}

#hero-image {
    height: 300px;
}

#hero-quote {
    position: absolute;
    bottom: 3%;
    width: 100%;
    text-align: center;
 }

/* styling for all inline quotation elements */
q {
    font-size: 160%;
    font-family: "Alex Brush", sans-serif;
    font-weight: 500;
    letter-spacing: 0.1rem;
    color: #fff;
}

.quote-footer {
    font-size: 80%;
    margin-top: 0.5rem;
    color: #fff;
}

/* styling for section elements */
section {
    margin: 0 2rem 2rem 2rem;
}

h3 {
    text-transform: uppercase;
}

h4 {
    margin-top: 0.3rem;
    margin-bottom: 0.2rem;
}

#techniques h4 {
    margin-top: 0.5rem;
}

p {
    margin-right: 1rem;
    margin-bottom: 0.8rem;
    margin-left: 1rem;
    text-align: justify;
}

section ol li {
    margin-top: -0.5rem;
    margin-bottom: -0.5rem;
    margin-left: 2.8rem;
}

/* styling for mindfulness meditation image and quote */
#mindfulness-meditation-outer {
    position: relative;
}

#mindfulness-meditation-image {
    height: 250px;
    margin-bottom: 1.5rem;
}

#mindfulness-meditation-quote {
    position: absolute;  
    bottom: 15%;
    width: 100%;
    text-align: center;
}

/* styling for loving kindness meditation image and quote */
#kindness-meditation-outer {
    position: relative;
}

#kindness-meditation-image {
    height: 250px;
    margin-bottom: 1.5rem;
}

#kindness-meditation-quote {
    position: absolute;
    top: 8%;
    width: 100%;
    text-align: center;
}

/* styling for transcendental meditation image and quote */
#transcendental-meditation-outer {
    position: relative;
}

#transcendental-meditation-image {
    height: 250px;
    margin-bottom: 1.5rem;
}

#transcendental-meditation-quote {
    position: absolute;
    bottom: 3%;
    width: 100%;
    text-align: center;
}

/* styling for contact us section */
.contact {
    display: grid;
}

form p {
    margin:0 1rem 0 1rem;
    text-align: left;
}

.text-input {
    margin-top: 1.3rem;
    margin-bottom: 0.2rem;
    margin-left: 1rem;
    margin-right: 1rem;
    font-family: "El Messiri", sans-serif;
    font-size: 1.6rem; 
 }

#name, #email {
    line-height: 3rem;
}

.submit {
    font-family: "El Messiri", sans-serif;
    font-weight: 500;
    margin: 1.2rem 1rem; 
    background-color: var(--dark-grey);
    color: #fff;
    border-radius: 0.5rem;
    text-align: center;
    font-size: 1.6rem;
    line-height: 3rem;
    width:15rem;
}

/* styling for footer with social media links */
.social-media {
    text-align: center;
}

.social-media li {
    display: inline;
}

.social-media i {
    font-size: 130%;
    margin: 2%;
    padding: 0.5rem;
    color: var(--dark-pink)
}

/* media query for screen sizes < 376px to prevent logo from overlapping with responsive navigation bar
    and prevent inspirational quotes from overflowing to another row */
@media screen and (max-width: 376px) {
    html {
        scroll-padding-top: 4rem; 
    }

    #logo {
        font-size: 2.5rem;
    }

    nav li {
        font-size: 100%;
    }

    q {
        font-size: 140%;
    }
   
    #hero-image {
        height: 240px;
    }

    #mindfulness-meditation-image, #kindness-meditation-image, #transcendental-meditation-image {
        height: 200px;
    }

    #mindfulness-meditation-quote {
        top:50%;
        width: 100%;
    }
}

/* media query for screen size < 476px to adjust image sizes, positining of quotes and overall margin*/
@media screen and (min-width: 476px) {
    #hero-outer {
        position: relative;
        margin: 0 2.5rem 2rem 2.5rem;
    }
    
    section {
        margin: 0 2.5rem 2rem 2.5rem;
    }
    
    q {
        font-size: 165%;
    }
   
    .quote-footer {
        font-size: 85%;
    }

    #hero-image {
        height: 330px;
    }

    #mindfulness-meditation-image, #kindness-meditation-image, #transcendental-meditation-image {
        height: 280px;
    }
    
    #mindfulness-meditation-quote {
        width: 80%;
        top: 45%;
    }

    #kindness-meditation-quote {
        top: 15%;
    }
}

/* media query for screen size < 576px to adjust image sizes, positining of quotes and overall margin */
@media screen and (min-width: 576px) {
    #hero-outer {
        position: relative;
        margin: 0 3rem 2rem 3rem;
    }
    
    section {
        margin: 0 3rem 2rem 3rem;
    }

    q {
        font-size: 170%;
    }
   
    .quote-footer {
        font-size: 90%;
    }

    #hero-image {
        height: 400px;
    }

    #mindfulness-meditation-image, #kindness-meditation-image, #transcendental-meditation-image {
        height: 350px;
    }

    #mindfulness-meditation-quote {
        top:45%;
        width: 70%;
    }
}

/* media query for screen size < 676px to adjust image sizes, positining of quotes and overall margin */
@media screen and (min-width: 676px) {
    #hero-outer {
        position: relative;
        margin: 0 3.5rem 2.5rem 3.5rem;
    }
    
    section {
        margin: 0 3.5rem 2.5rem 3.5rem;
    }

    q {
        font-size: 180%;
    }
   
    .quote-footer {
        font-size: 95%;
    }

    #hero-image {
        height: 450px;
    }

    #mindfulness-meditation-image, #kindness-meditation-image, #transcendental-meditation-image {
        height: 400px;
    }

    #mindfulness-meditation-quote {
        top:40%;
        width: 60%;
    }
}

@media screen and (min-width: 992px) {
    html {
        scroll-padding-top:6.8rem;
    }
    
    .nav-menu-hamburger {
        display: none;
   } 

   header {
        display: grid;
        grid-template-columns: 1fr auto 1fr;
   }

   #logo {
        grid-column: 1 / 1;
        text-align: left;
        margin-top: 0.5rem;
        margin-left: 2.5rem;
        font-size: 220%;
   }

   nav {
        position: relative;
        text-align: right;
        top: initial;
        left: initial;
        grid-column: 3;
        display: flex;
        justify-content: flex-end;
        padding: 1.3rem;    
        transition: none;   
   }

   nav ul {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        margin-top: 0.4rem;
    }

    #hero-image, #mindfulness-meditation-image, #kindness-meditation-image, #transcendental-meditation-image {
        height: 500px;
    }

    #hero-quote, #mindfulness-meditation-quote, #kindness-meditation-quote, #transcendental-meditation-quote {
        position: absolute;
        bottom: 3%;
    }

    q {
        font-size: 200%;
        font-weight: 600;
        letter-spacing: 0.05rem;
    }
    
    .quote-footer {
        font-size: 120%;
    }
}

